<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jazz2RP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Jazz2RP.My.MySettings>
            <setting name="UdpDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullPrivacyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysQueryServerInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestProccessPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RP_TimerSource" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LoggerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraRPButtonCaption" serializeAs="String">
                <value>Matchmaking</value>
            </setting>
            <setting name="CpuUsage" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Privacy_Details_Location" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Privacy_Details_HostedServerName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Privacy_Details_GameMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Privacy_Details_LevelName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Privacy_Details_SplitScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Privacy_Details_SinglePlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Privacy_State_InMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Privacy_State_InGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Privacy_State_InOnlineGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Privacy_State_Spectating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Privacy_State_NoGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrivacyLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="String_NoGame" serializeAs="String">
                <value>Playing Online</value>
            </setting>
            <setting name="String_SinglePlayer" serializeAs="String">
                <value>Single Player</value>
            </setting>
            <setting name="DisableServerQuery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueryDelay" serializeAs="String">
                <value>80000</value>
            </setting>
            <setting name="QueryTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="RP_JoinGameButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitHandling" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RP_SwapStateDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_TrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </Jazz2RP.My.MySettings>
    </userSettings>
</configuration>
